*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.item-container
{
    width:160px;
    height:320px;
    margin:20px;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.image{
    margin-top: 10px;
    width:100%;
}
.item-details{
    margin:10px;
    padding:10px;
    font-family: sans-serif;
}
.price{
    margin:2px;
    color: rgb(125, 121, 121);
    font-size: 12px;
}
.model
{
    margin:2px;
    font-size: 16px;
}
